In [1]:
import pandas as pd
import requests as rq
import numpy as np

In [2]:
#nyc complains data: 
complains_url="https://data.cityofnewyork.us/api/views/erm2-nwe9/rows.csv"
pop_byzip_url = "https://data.cityofnewyork.us/resource/rreq-n6zk.csv"
pop_byborough_url = "https://data.cityofnewyork.us/api/views/h2bk-zmw6/rows.csv?accessType=DOWNLOAD"

#### for some reason pandas ignores nrows() when reading from URL so we use bash magic to expolore schema

In [3]:
%%bash -s "$complains_url" "$pop_byzip_url" "$pop_byborough_url"
echo "++++++++++++++++++++++++++++++ COMPLAINS ++++++++++++++++++++++++++++++++"
wget -qO- $1 | head -2

echo "++++++++++++++++++++++++ POPULATION BY ZIP CODES ++++++++++++++++++++++++"
wget -qO- $2 | head -2

echo "+++++++++++++++++++++++++ POPULATION BY BOROUGH +++++++++++++++++++++++++"
wget -qO- $3 | head -2

++++++++++++++++++++++++++++++ COMPLAINS ++++++++++++++++++++++++++++++++
Unique Key,Created Date,Closed Date,Agency,Agency Name,Complaint Type,Descriptor,Location Type,Incident Zip,Incident Address,Street Name,Cross Street 1,Cross Street 2,Intersection Street 1,Intersection Street 2,Address Type,City,Landmark,Facility Type,Status,Due Date,Resolution Description,Resolution Action Updated Date,Community Board,BBL,Borough,X Coordinate (State Plane),Y Coordinate (State Plane),Open Data Channel Type,Park Facility Name,Park Borough,Vehicle Type,Taxi Company Borough,Taxi Pick Up Location,Bridge Highway Name,Bridge Highway Direction,Road Ramp,Bridge Highway Segment,Latitude,Longitude,Location
16801224,06/04/2010 09:24:00 AM,06/10/2010 12:00:00 PM,DSNY,P - Manhattan and Bronx,Dirty Conditions,E12 Illegal Dumping Surveillance,Sidewalk,10003,27 2 AVENUE,2 AVENUE,EAST 1 STREET,EAST 2 STREET,,,ADDRESS,NEW YORK,,N/A,Closed,,"The Department of Sanitation has investigated the complaint and addressed the issue. If the problem persists, call 311 to enter a new complaint. If you are outside of New York City, please call (212) NEW-YORK (212-639-9675).",06/10/2010 12:00:00 AM,03 MANHATTAN,1004570033,MANHATTAN,986853,203261,PHONE,Unspecified,MANHATTAN,,,,,,,,40.72458081395679,-73.99060894284787,"(40.72458081395679, -73.99060894284787)"
++++++++++++++++++++++++ POPULATION BY ZIP CODES ++++++++++++++++++++++++
"count_american_indian","count_asian_non_hispanic","count_black_non_hispanic","count_citizen_status_total","count_citizen_status_unknown","count_ethnicity_total","count_ethnicity_unknown","count_female","count_gender_total","count_gender_unknown","count_hispanic_latino","count_male","count_nreceives_public_assistance","count_other_citizen_status","count_other_ethnicity","count_pacific_islander","count_participants","count_permanent_resident_alien","count_public_assistance_total","count_public_assistance_unknown","count_receives_public_assistance","count_us_citizen","count_white_non_hispanic","jurisdiction_name","percent_american_indian","percent_asian_non_hispanic","percent_black_non_hispanic","percent_citizen_status_total","percent_citizen_status_unknown","percent_ethnicity_total","percent_ethnicity_unknown","percent_female","percent_gender_total","percent_gender_unknown","percent_hispanic_latino","percent_male","percent_nreceives_public_assistance","percent_other_citizen_status","percent_other_ethnicity","percent_pacific_islander","percent_permanent_resident_alien","percent_public_assistance_total","percent_public_assistance_unknown","percent_receives_public_assistance","percent_us_citizen","percent_white_non_hispanic"
"0","3","21","44","0","44","0","22","44","0","16","22","24","0","3","0","44","2","44","0","20","42","1","10001","0","0.07","0.48","100","0","100","0","0.5","100","0","0.36","0.5","0.55","0","0.07","0","0.05","100","0","0.45","0.95","0.02"
+++++++++++++++++++++++++ POPULATION BY BOROUGH +++++++++++++++++++++++++
Borough,Population
Brooklyn,4970026

In [95]:
%%bash -s "$complains_url" "$pop_byzip_url" "$pop_byborough_url"
[ -f data/complains.csv ] || wget -O data/complains.csv $2 > /dev/null
[ -f data/popul_by_zip.csv ] || wget -O data/popul_by_zip.csv $2 > /dev/null
[ -f data/popul_by_borough.csv ] || wget -O data/popul_by_borough.csv $2 > /dev/null

### Data loading, transforming & exploration

In [4]:
complains_f = "data/complains.csv"
pop_byzip_f = "data/popul_by_zip.csv"
pop_byborough_f = "data/popul_by_borough.csv"

usecols = ['Unique Key','Created Date','Borough','Incident Zip','City','Complaint Type']
dtypes = {'Unique Key':np.uint32,'Incident Zip':'category','Borough':'category','City':'category','Complaint Type':'category'}
a_values=[0, "0", "N/A", 0, "N/A", "N/A"]

chunksize = 200000
year=2017

In [5]:
df_iter = pd.read_csv(complains_f, skipinitialspace=True, index_col='Unique Key',
                         usecols=usecols,
                         dtype=dtypes,
                         na_values=na_values,
                         low_memory=False, iterator=True, chunksize=chunksize)

In [6]:
# Filter by year of interest: 2017 and remove 'Borough' == "Unspecified"
# We read in chunks to keep memory consumption controlled iterator=True
# Issue: iterator=True doesn't return iterable immediately for URL resources and reads whole resource into memory
# Issue: ValueError: could not convert string to float: '11219-0283'
# Issue: ValueError: Integer column has NA values in column

ch_bad = []
chunks = []
for chunk in df_iter:
    c = None
    try:
        c = chunk[(pd.to_datetime(chunk['Created Date']).dt.year == year) & (chunk['Borough'] != "Unspecified")]
# lambda: c = chunk.pipe(lambda x: x[(pd.to_datetime(x['Created Date']).dt.year == year) & (chunk['Borough'] != "Unspecified")])
        if (len(c) > 0):
            chunks.append(c)
            print("Added %d rows" %(len(c)))
    except:
        print("Failure in processing a chunk:")
        print(c)

Added 1 rows
Added 75223 rows
Added 97416 rows
Added 98219 rows
Added 98242 rows
Added 98521 rows
Added 98278 rows
Added 98363 rows
Added 98387 rows
Added 98410 rows
Added 98369 rows
Added 98425 rows
Added 98871 rows
Added 98853 rows
Added 98717 rows
Added 98627 rows
Added 98882 rows
Added 98827 rows
Added 98118 rows
Added 97570 rows
Added 77220 rows
Added 4 rows
Added 1 rows
Added 1849 rows
Added 2827 rows
Added 1651 rows
Added 1479 rows
Added 1804 rows
Added 1883 rows
Added 1620 rows
Added 2212 rows
Added 2397 rows
Added 2528 rows
Added 1708 rows
Added 810 rows
Added 1278 rows
Added 1677 rows
Added 2046 rows
Added 2078 rows
Added 2250 rows
Added 2631 rows
Added 2339 rows
Added 2427 rows
Added 2445 rows
Added 2007 rows
Added 1919 rows
Added 1910 rows
Added 2018 rows
Added 2013 rows
Added 1620 rows
Added 2188 rows
Added 1520 rows
Added 1238 rows
Added 1426 rows
Added 1519 rows
Added 1094 rows
Added 1481 rows
Added 1472 rows
Added 1219 rows
Added 402 rows
Added 500 rows
Added 66 rows
Added 42 rows
Added 49 rows
Added 44 rows
Added 86 rows
Added 114 rows
Added 136 rows
Added 90 rows
Added 60 rows
Added 44 rows
Added 48 rows
Added 75 rows
Added 104 rows
Added 86 rows
Added 161 rows
Added 4 rows
Added 7 rows
Added 4 rows
Added 2 rows
Added 6 rows
Added 23 rows
Added 22 rows
Added 9 rows
Added 2390 rows
Added 2398 rows
Added 1305 rows
Added 1971 rows
Added 3698 rows
Added 471 rows
Added 563 rows
Added 551 rows
Added 460 rows
Added 519 rows
Added 595 rows
Added 714 rows
Added 608 rows
Added 526 rows
Added 492 rows
Added 541 rows
Added 584 rows
Added 704 rows
Added 507 rows
Added 336 rows
Added 321 rows
Added 275 rows
Added 661 rows
Added 1984 rows
Added 12399 rows
Added 21960 rows
Added 13239 rows
Added 25 rows
Added 301 rows
Added 31172 rows
Added 81112 rows
Added 90952 rows
Added 51209 rows
Added 4869 rows
Added 7313 rows
Added 4831 rows
Added 8460 rows
Added 6146 rows
Added 13921 rows
Added 12347 rows
Added 1554 rows
Added 1777 rows
Added 1420 rows
Added 1708 rows
Added 2337 rows
Added 9791 rows
Added 9609 rows
Added 1 rows

In [13]:
df = pd.concat(chunks, axis=0, ignore_index=False)

In [17]:
df.head(n=5)

,Created Date,Complaint Type,Incident Zip,City,Borough
Unique Key,,,,,
34912416,01/03/2017 09:12:00 AM,Vacant Lot,11211,BROOKLYN,BROOKLYN
35108046,03/30/2017 07:03:00 AM,Vacant Lot,11211,BROOKLYN,BROOKLYN
35117399,02/21/2017 10:49:00 AM,Vacant Lot,10305,STATEN ISLAND,STATEN ISLAND
35123353,02/06/2017 11:47:00 AM,Vacant Lot,11208,BROOKLYN,BROOKLYN
35136920,01/01/2017 12:31:58 AM,Noise - Residential,11373,ELMHURST,QUEENS

In [16]:
df.dtypes

Created Date        object
Complaint Type      object
Incident Zip        object
City                object
Borough           category
dtype: object

In [34]:
#df['Incident Zip'].replace(to_replace="\$([0-9,\.]+).*", value=r"\1", regex=True, inplace=True)
df['Incident Zip'] = df['Incident Zip'].apply(lambda x: "0" if str(x) in ["nan", "UNKNOWN", "."] else str(x).replace(r'\s*-.*', '')).astype(np.uint16)

In [32]:
df.to_csv("data/complains_2017.csv", index=True)

In [35]:
df.dtypes

Created Date        object
Complaint Type      object
Incident Zip        uint16
City                object
Borough           category
dtype: object

In [36]:
df.describe(include = 'all')

,Created Date,Complaint Type,Incident Zip,City,Borough
count,2403938,2403938,2.403938e+06,2338694,2403938
unique,1798689,205,NaN,124,5
top,02/15/2017 12:00:00 AM,Noise - Residential,NaN,BROOKLYN,BROOKLYN
freq,273,229458,NaN,746206,760965
mean,NaN,NaN,1.053876e+04,NaN,NaN
std,NaN,NaN,1.838529e+03,NaN,NaN
min,NaN,NaN,0.000000e+00,NaN,NaN
25%,NaN,NaN,1.030900e+04,NaN,NaN
50%,NaN,NaN,1.120400e+04,NaN,NaN
75%,NaN,NaN,1.123400e+04,NaN,NaN
max,NaN,NaN,6.019700e+04,NaN,NaN

In [37]:
df.info(null_counts=True)

<class 'pandas.core.frame.DataFrame'>
UInt64Index: 2403938 entries, 34912416 to 34708823
Data columns (total 5 columns):
Created Date      2403938 non-null object
Complaint Type    2403938 non-null object
Incident Zip      2403938 non-null uint16
City              2338694 non-null object
Borough           2403938 non-null category
dtypes: category(1), object(3), uint16(1)
memory usage: 80.2+ MB

In [84]:
df_borough = df[['Borough']].drop_duplicates()
df_borough

                  Borough
Unique Key
34912416         BROOKLYN
35117399    STATEN ISLAND
35136920           QUEENS
35136936        MANHATTAN
35137010            BRONX

In [83]:
df.groupby(['Borough'])['Borough'].count().reset_index(name='cnt').sort_values(by='cnt', ascending=False)
# Why Unspecified showed up?

         Borough     cnt
1       BROOKLYN  760965
3         QUEENS  586910
2      MANHATTAN  480298
0          BRONX  449048
4  STATEN ISLAND  126717
5    Unspecified       0

In [41]:
df_compl_type = df[['Complaint Type']].drop_duplicates()
df_compl_type

                                 Complaint Type
Unique Key
34912416                             Vacant Lot
35136920                    Noise - Residential
35136927                       Derelict Vehicle
35136935                     Noise - Commercial
35136950                       Blocked Driveway
35137486                Noise - Street/Sidewalk
35137488                          Drug Activity
35137499                                Smoking
35137517                     Noise - Helicopter
35137568                        Illegal Parking
35137779                         Taxi Complaint
35137806                     Indoor Air Quality
35138219               Traffic Signal Condition
35138319                     Consumer Complaint
35138559                                 Rodent
35138810                        Noise - Vehicle
35144828                      Derelict Vehicles
35139204                     Sidewalk Condition
35139665               Noise - House of Worship
35139948                         HEAT/HOT WATER
35140416                               Drinking
35140858                      Electronics Waste
35144422                       Street Condition
35141407                 Street Sign - Dangling
35141582                 Street Light Condition
35142780             For Hire Vehicle Complaint
35142819                            Taxi Report
35142845             Illegal Animal Kept as Pet
35143529                           Animal Abuse
35143859      Missed Collection (All Materials)
...                                         ...
35444303                              Trans Fat
35549133                       Tunnel Condition
35584768                        Advocate - RPIE
35601032                          Public Toilet
35617390       Case Management Agency Complaint
35645110                   Damaged or Dead Tree
35659421                              Lifeguard
35707761                                   FATF
35730150         Advocate-Commercial Exemptions
35854421                         Standing Water
35866582                          Cooling Tower
35873045                               Pet Shop
35877139      Legal Services Provider Complaint
35878129                          Interior Demo
35885909                   Radioactive Material
35893407                     Building Condition
35915643                             Mosquitoes
35937111                          Stalled Sites
35947777                    Advocate-SCRIE/DRIE
36331587                                 AGENCY
36488959                                   SRDE
36810209                                Tanning
36964983                                    CST
37104771    Request Large Bulky Item Collection
37186659                         NORC Complaint
37563888                        Advocate - Lien
37568296                  Advocate-Business Tax
37864417                                   FCST
37976097                        Advocate - Levy
37679064                       VACANT APARTMENT

[205 rows x 1 columns]

In [45]:
df_city = df[['City']].drop_duplicates()
print(df_city)

                           City
Unique Key
34912416               BROOKLYN
35117399          STATEN ISLAND
35136920               ELMHURST
35136927         MIDDLE VILLAGE
35136936               NEW YORK
35136964    SOUTH RICHMOND HILL
35136975                JAMAICA
35136977               FLUSHING
35136999          FRESH MEADOWS
35137010                  BRONX
35137369              REGO PARK
35137391          ROCKAWAY PARK
35137454          RICHMOND HILL
35137515                ASTORIA
35137545                 CORONA
35137591              RIDGEWOOD
35137624                MASPETH
35137863       SOUTH OZONE PARK
35138311              SUNNYSIDE
35138401           FAR ROCKAWAY
35138406                ARVERNE
35138518          EAST ELMHURST
35138546              WOODHAVEN
35138810                BAYSIDE
35144828          College Point
35139244               WOODSIDE
35139267             OZONE PARK
35139580            KEW GARDENS
35139665               ROSEDALE
35140457       LONG ISLAND CITY
...                         ...
35651389          NEW YORK CITY
35704430     WASHINGTON HEIGHTS
35789256         STATEN  ISLAND
35826632                    NYC
35913811                 CARROL
35919671                YONKERS
35957010                BEDSTUY
35974926          FORREST HILLS
36022765           COLLEGEPOINT
36100883                 QUENNS
36329843          VALLEY STREAM
36347115                WYOMING
36569992                BROOKLN
36588770              LAKESTONE
36703018                 INWOOD
36704627            FRESHMEDOWS
36724735               BROOKYLN
36784180               BROOLKYN
36867834               LYNBROOK
36900992                      .
37039312              ST ALBANS
37187635             REGAL PARK
37193256          P.O. BOX 3615
37225148               MANHATAN
37501737              MANHATTIN
36313302              BROOKLIYN
36979184       ROOSEVELT ISLAND
35485723                    RYE
36450254                NEWBURH
36459247         STATEN  ISALND

[125 rows x 1 columns]

In [42]:
# Borough == Unspecified is less then 0.5% of all records so we are going to drop those records from the DataFrame
# This also can be done at a loading time (see above)
df = df[df['Borough'].map(lambda x: str(x) != "Unspecified")]
df.count()

Created Date      2403938
Complaint Type    2403938
Incident Zip      2403938
City              2338694
Borough           2403938
dtype: int64

In [46]:
df.groupby(['Borough'])['Borough'].count().reset_index(name='cnt').sort_values(by='cnt', ascending=False)

         Borough     cnt
1       BROOKLYN  760965
3         QUEENS  586910
2      MANHATTAN  480298
0          BRONX  449048
4  STATEN ISLAND  126717
5    Unspecified       0

In [48]:
# There are few complains where City or/and Zip is Nan:
city_null = df['City'].isnull()
zip_null = df['Incident Zip'].isnull()

# Select these cases:
df[zip_null | city_null]

,Created Date,Complaint Type,Incident Zip,City,Borough
Unique Key,,,,,
35143285,01/01/2017 12:34:00 AM,Street Light Condition,0,NaN,MANHATTAN
35143942,01/01/2017 08:21:00 PM,Street Light Condition,0,NaN,QUEENS
35145371,01/01/2017 02:10:00 PM,Traffic Signal Condition,0,NaN,MANHATTAN
35144241,01/01/2017 02:35:00 PM,Traffic Signal Condition,0,NaN,MANHATTAN
35144244,01/01/2017 07:10:00 PM,Traffic Signal Condition,0,NaN,MANHATTAN
35144533,01/01/2017 09:03:00 PM,Street Light Condition,0,NaN,BRONX
35144534,01/01/2017 11:47:00 AM,Street Light Condition,0,NaN,MANHATTAN
35144582,01/01/2017 05:51:00 PM,Street Light Condition,0,NaN,MANHATTAN
35144602,01/01/2017 08:05:56 PM,Highway Condition,0,NaN,QUEENS
35145262,01/01/2017 04:01:00 PM,Traffic Signal Condition,0,NaN,BRONX
35145164,01/01/2017 02:27:19 PM,Taxi Complaint,0,NaN,QUEENS
35145238,01/01/2017 10:59:00 AM,Traffic Signal Condition,0,NaN,BROOKLYN
35145243,01/01/2017 06:01:00 PM,Traffic Signal Condition,0,NaN,QUEENS
35145699,01/01/2017 11:32:00 PM,Street Light Condition,0,NaN,MANHATTAN
35145915,01/01/2017 09:11:00 PM,Traffic Signal Condition,0,NaN,MANHATTAN
35146233,01/01/2017 05:37:00 PM,Street Light Condition,0,NaN,BROOKLYN
35146735,01/01/2017 11:20:00 PM,Street Light Condition,0,NaN,MANHATTAN
35146757,01/01/2017 05:33:22 PM,Taxi Complaint,0,NaN,BROOKLYN
35146827,01/01/2017 11:40:00 AM,Street Light Condition,0,NaN,MANHATTAN
35146944,01/02/2017 12:21:00 AM,Traffic Signal Condition,0,NaN,MANHATTAN
35147021,01/01/2017 08:00:00 PM,Traffic Signal Condition,0,NaN,BRONX
35147032,01/01/2017 05:50:00 PM,Traffic Signal Condition,0,NaN,QUEENS
35149687,01/02/2017 11:13:08 PM,Highway Sign - Damaged,0,NaN,BRONX
35147243,01/01/2017 11:38:00 PM,Street Light Condition,0,NaN,BRONX
35158326,01/04/2017 01:17:59 AM,Street Condition,0,NaN,QUEENS
35147698,01/01/2017 08:17:19 PM,Curb Condition,0,NaN,STATEN ISLAND
35147707,01/01/2017 09:34:00 PM,Street Light Condition,0,NaN,BRONX
35147840,01/01/2017 10:22:15 PM,Highway Condition,0,NaN,QUEENS
35147976,01/01/2017 11:48:00 AM,Traffic Signal Condition,0,NaN,BROOKLYN
35148180,01/01/2017 02:57:01 PM,Street Sign - Missing,0,NaN,QUEENS
...,...,...,...,...,...
37970383,12/19/2017 11:33:00 AM,Street Light Condition,0,NaN,BROOKLYN
37973581,12/19/2017 08:27:00 AM,Street Light Condition,0,NaN,BRONX
37979524,12/21/2017 01:55:00 PM,Traffic Signal Condition,0,NaN,QUEENS
37980060,12/21/2017 03:21:00 PM,Dirty Conditions,0,NaN,QUEENS
37980788,12/20/2017 06:20:00 AM,Sanitation Condition,0,NaN,QUEENS
37984710,12/20/2017 06:40:21 AM,Graffiti,0,NaN,BRONX
37989675,12/20/2017 10:48:00 PM,Traffic Signal Condition,0,NaN,MANHATTAN
37990038,12/20/2017 09:41:00 AM,Derelict Vehicles,0,NaN,STATEN ISLAND
37993368,12/20/2017 03:17:00 PM,Sanitation Condition,0,NaN,BROOKLYN
37997161,12/20/2017 07:00:00 AM,Street Condition,0,NaN,STATEN ISLAND
38001654,12/23/2017 06:12:00 PM,Traffic Signal Condition,0,NaN,BRONX
38002663,12/23/2017 09:29:00 AM,Traffic Signal Condition,0,NaN,BROOKLYN
38009538,12/23/2017 03:43:00 PM,Derelict Vehicles,0,NaN,STATEN ISLAND
38011985,12/25/2017 07:46:00 AM,Traffic Signal Condition,0,NaN,MANHATTAN
38014830,12/25/2017 11:12:00 AM,Traffic Signal Condition,0,NaN,MANHATTAN
38015395,12/25/2017 10:10:00 PM,Traffic Signal Condition,0,NaN,MANHATTAN
38015828,12/25/2017 09:01:00 PM,Traffic Signal Condition,0,NaN,BRONX
38017183,07/24/2017 08:36:00 PM,Vacant Lot,0,NaN,QUEENS
38021860,12/26/2017 10:12:07 AM,Graffiti,0,NaN,BRONX
38023414,12/26/2017 09:21:08 AM,Graffiti,0,NaN,BRONX
38023994,12/26/2017 11:30:29 AM,Graffiti,0,NaN,MANHATTAN
38024533,12/26/2017 01:27:00 PM,Traffic Signal Condition,0,NaN,QUEENS
38028279,12/27/2017 01:57:00 PM,Traffic Signal Condition,0,NaN,QUEENS
38035248,12/28/2017 05:13:00 PM,Water System,0,NaN,BRONX
38035261,12/28/2017 06:55:00 AM,Traffic Signal Condition,0,NaN,BROOKLYN
38043432,12/28/2017 04:01:00 PM,Street Light Condition,0,NaN,BROOKLYN
38047027,12/29/2017 11:54:00 AM,Traffic Signal Condition,0,NaN,QUEENS
38047545,12/29/2017 11:45:00 PM,Traffic Signal Condition,0,NaN,MANHATTAN
38052233,12/29/2017 03:25:00 AM,Traffic Signal Condition,0,NaN,MANHATTAN
38063725,12/30/2017 10:18:00 AM,Traffic Signal Condition,0,NaN,QUEENS

In [50]:
df = df[df['Incident Zip'].notnull() | df['City'].notnull()]
df.count()

Created Date      2403938
Complaint Type    2403938
Incident Zip      2403938
City              2338694
Borough           2403938
dtype: int64

### Assessment part

#### 1. Consider only the 10 most common overall complaint types. For each borough, how many of each of those 10 types were there in 2017?

In [51]:
# First top 10 complains types:
top10_complains = df.groupby(['Complaint Type'])['Complaint Type'].count().reset_index(name='cnt').sort_values(by='cnt', ascending=False).head(n=10)
top10_complains

              Complaint Type     cnt
129      Noise - Residential  229458
87            HEAT/HOT WATER  213521
104          Illegal Parking  144828
27          Blocked Driveway  135059
171         Street Condition   93222
172   Street Light Condition   82807
189     UNSANITARY CONDITION   79282
130  Noise - Street/Sidewalk   72868
202             Water System   65100
124                    Noise   60168

In [52]:
all_merged_with_top10 = pd.merge(top10_complains, df, on='Complaint Type')

In [53]:
# For each borough, how many of each of those 10 types were there in 2017?
top10_borough_complains = all_merged_with_top10.groupby(['Borough','Complaint Type'])['Complaint Type'].count().reset_index(name='cnt').sort_values(by=['Borough','cnt'], ascending=[True, False])
top10_borough_complains

          Borough           Complaint Type    cnt
1           BRONX           HEAT/HOT WATER  68718
4           BRONX      Noise - Residential  57663
0           BRONX         Blocked Driveway  24574
8           BRONX     UNSANITARY CONDITION  24561
7           BRONX   Street Light Condition  18410
2           BRONX          Illegal Parking  16122
5           BRONX  Noise - Street/Sidewalk  14025
6           BRONX         Street Condition  11761
9           BRONX             Water System  10221
3           BRONX                    Noise   3134
14       BROOKLYN      Noise - Residential  67629
11       BROOKLYN           HEAT/HOT WATER  66984
12       BROOKLYN          Illegal Parking  55380
10       BROOKLYN         Blocked Driveway  49302
18       BROOKLYN     UNSANITARY CONDITION  26659
16       BROOKLYN         Street Condition  25432
17       BROOKLYN   Street Light Condition  22458
15       BROOKLYN  Noise - Street/Sidewalk  21313
19       BROOKLYN             Water System  19809
13       BROOKLYN                    Noise  15421
24      MANHATTAN      Noise - Residential  51026
21      MANHATTAN           HEAT/HOT WATER  46529
25      MANHATTAN  Noise - Street/Sidewalk  29147
23      MANHATTAN                    Noise  29002
22      MANHATTAN          Illegal Parking  19687
26      MANHATTAN         Street Condition  14840
28      MANHATTAN     UNSANITARY CONDITION  14635
27      MANHATTAN   Street Light Condition  11077
29      MANHATTAN             Water System  10929
20      MANHATTAN         Blocked Driveway   3428
30         QUEENS         Blocked Driveway  54290
34         QUEENS      Noise - Residential  46396
32         QUEENS          Illegal Parking  46065
36         QUEENS         Street Condition  30629
31         QUEENS           HEAT/HOT WATER  29217
37         QUEENS   Street Light Condition  24258
39         QUEENS             Water System  18792
38         QUEENS     UNSANITARY CONDITION  11474
33         QUEENS                    Noise  10685
35         QUEENS  Noise - Street/Sidewalk   7530
46  STATEN ISLAND         Street Condition  10560
42  STATEN ISLAND          Illegal Parking   7574
44  STATEN ISLAND      Noise - Residential   6744
47  STATEN ISLAND   Street Light Condition   6604
49  STATEN ISLAND             Water System   5349
40  STATEN ISLAND         Blocked Driveway   3465
41  STATEN ISLAND           HEAT/HOT WATER   2073
48  STATEN ISLAND     UNSANITARY CONDITION   1953
43  STATEN ISLAND                    Noise   1926
45  STATEN ISLAND  Noise - Street/Sidewalk    853

In [54]:
# top 10 complains by each borough (this contains exaclt 10 rows per borough):
top10_complains_by_borough = df.groupby(['Borough','Complaint Type'])['Complaint Type'].count().groupby(level='Borough').nlargest(10).reset_index(level=0, drop=True)
top10_complains_by_borough

Borough        Complaint Type
BRONX          HEAT/HOT WATER                         68718
               Noise - Residential                    57663
               Blocked Driveway                       24574
               UNSANITARY CONDITION                   24561
               PAINT/PLASTER                          19496
               Street Light Condition                 18410
               PLUMBING                               16490
               Illegal Parking                        16122
               Noise - Street/Sidewalk                14025
               DOOR/WINDOW                            11850
BROOKLYN       Noise - Residential                    67629
               HEAT/HOT WATER                         66984
               Illegal Parking                        55380
               Blocked Driveway                       49302
               UNSANITARY CONDITION                   26659
               Street Condition                       25432
               Street Light Condition                 22458
               Noise - Street/Sidewalk                21313
               Water System                           19809
               PAINT/PLASTER                          19398
MANHATTAN      Noise - Residential                    51026
               HEAT/HOT WATER                         46529
               Noise - Street/Sidewalk                29147
               Noise                                  29002
               Illegal Parking                        19687
               Noise - Commercial                     18307
               Homeless Person Assistance             17079
               Street Condition                       14840
               UNSANITARY CONDITION                   14635
               PAINT/PLASTER                          11488
QUEENS         Blocked Driveway                       54290
               Noise - Residential                    46396
               Illegal Parking                        46065
               Street Condition                       30629
               HEAT/HOT WATER                         29217
               Street Light Condition                 24258
               Request Large Bulky Item Collection    21385
               Water System                           18792
               Derelict Vehicle                       16110
               Building/Use                           13777
STATEN ISLAND  Electronics Waste                      12295
               Street Condition                       10560
               Illegal Parking                         7574
               Noise - Residential                     6744
               Street Light Condition                  6604
               Missed Collection (All Materials)       5571
               Water System                            5349
               Sewer                                   3978
               Sanitation Condition                    3899
               Derelict Vehicle                        3580
Name: Complaint Type, dtype: int64

#### 2. Consider only the 10 most common overall complaint types. For the 10 most populous zip codes, how many of each of those 10 types were there in 2017?

In [56]:
#1. Find top 10 mst populous zip codes
top10_zip_pop = pd.read_csv(pop_byzip_f, skipinitialspace=True, usecols=['jurisdiction_name','count_participants']).sort_values(by=['count_participants'], ascending=[False]).head(10)
top10_zip_pop

     count_participants  jurisdiction_name
232                 272              12789
218                 252              12734
130                 248              11230
228                 242              12779
120                 214              11219
229                 201              12783
222                 134              12754
210                 124              12428
119                 111              11218
124                 109              11223

In [58]:
t_df = pd.merge(top10_zip_pop, df, left_on="jurisdiction_name", right_on='Incident Zip')

In [59]:
top10_complains_by_zip = t_df.groupby(['Incident Zip','Complaint Type'])['Complaint Type'].count().groupby(level='Incident Zip').nlargest().reset_index(level=0, drop=True)
top10_complains_by_zip

Incident Zip  Complaint Type
11218         Illegal Parking                        2483
              Blocked Driveway                       1751
              Noise - Residential                    1621
              HEAT/HOT WATER                         1425
              UNSANITARY CONDITION                    649
11219         Illegal Parking                        1911
              Blocked Driveway                       1477
              HEAT/HOT WATER                          961
              Request Large Bulky Item Collection     866
              Street Condition                        811
11223         Illegal Parking                        3073
              Blocked Driveway                       1758
              Noise - Residential                    1015
              HEAT/HOT WATER                          999
              Street Condition                        861
11230         Illegal Parking                        2435
              HEAT/HOT WATER                         2276
              Blocked Driveway                       1902
              Noise - Residential                    1645
              Street Condition                        919
Name: Complaint Type, dtype: int64

#### 3. Considering all complaint types. Which boroughs are the biggest "complainers" relative to the size of the population in 2017 Meaning, calculate a complaint-index that adjusts for population of the borough

In [78]:
borough_popul = pd.read_csv(pop_byborough_f, dtype={'Population':np.uint32,'Borough':'category'})
borough_popul['Borough'] = borough_popul['Borough'].apply(lambda x: x.upper())
borough_popul

         Borough  Population
0       BROOKLYN     4970026
1      MANHATTAN     3123068
2          BRONX     2717758
3         QUEENS     4460101
4  STATEN ISLAND      912458

In [79]:
borough_popul.dtypes

Borough       category
Population      uint32
dtype: object

In [80]:
borough_compl = df.groupby(['Borough'])['Borough'].count().reset_index(name='complains')
borough_compl

         Borough  complains
0          BRONX     449048
1       BROOKLYN     760965
2      MANHATTAN     480298
3         QUEENS     586910
4  STATEN ISLAND     126717
5    Unspecified          0

In [81]:
borough_popul.dtypes

Borough       category
Population      uint32
dtype: object

In [82]:
borough_compl_per_popul_unit = pd.merge(borough_compl, borough_popul, on="Borough")
borough_compl_per_popul_unit['compl_per_1m_popul'] = 1000000*borough_compl_per_popul_unit['complains']/borough_compl_per_popul_unit['Population']
borough_compl_per_popul_unit = borough_compl_per_popul_unit.sort_values(by=['compl_per_1m_popul'], ascending=[False])
borough_compl_per_popul_unit

         Borough  complains  Population  compl_per_1m_popul
0          BRONX     449048     2717758       165227.367558
2      MANHATTAN     480298     3123068       153790.439401
1       BROOKLYN     760965     4970026       153110.869038
4  STATEN ISLAND     126717      912458       138874.337230
3         QUEENS     586910     4460101       131591.190424

In [ ]:
# tips:
# pd.set_option('display.max_rows', 1000)
# pd.set_option('display.max_columns', 100)